@font-face {
  font-family: "vazir";
  src: url("../Font/Vazir.eot") format("eot"),
    url("../Font/Vazir.ttf") format("truetype"),
    url("../Font/Vazir.woff") format("woff2"),
    url("../Font/Vazir.woff2") format("woff");
}

body {
  font-family: Vazir;
  direction: rtl;
}

* {
  font-family: Vazir;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 1100px;
  margin: auto;
}

::placeholder {
  color: #b1b1b1;
}

.row {
  display: flex;
}

#register {
  background: url(../images/back.svg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.register-page .register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64%;
  background: #fff;
  padding: 70px 0;
  border-radius: 0 25px 25px 0;
  -webkit-border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  -ms-border-radius: 0 25px 25px 0;
  -o-border-radius: 0 25px 25px 0;
}

.register-page .register h1 {
  font-size: 30px;
  color: #3bb397;
  font-weight: bold;
  margin: 15px 0;
}

.register-page .register ul {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.register-page .register ul a {
  color: #222;
}

.register-page .register ul a svg {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 8px;
}

.register-page .register ul li:nth-child(1) a svg:hover {
  background-color: rgb(0, 89, 255);
  color: #fff;
}

.register-page .register ul li:nth-child(2) a svg:hover {
  background-color: rgb(255, 30, 0);
  color: #fff;
}

.register-page .register ul li:nth-child(3) a svg:hover {
  background-color: rgb(0, 153, 255);
  color: #fff;
}

.register-page .register h5 {
  color: #777;
  margin: 15px 0;
}

.register-page .register form {
  width: 45%;
  margin: 10px 0;
  text-align: center;
}

.register-page .register form .form-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  align-items: center;
  color: #b1b1b1;
}

.register-page .register form .form-item input {
  width: 95%;
  padding: 8px;
  border: none;
  border-bottom: #b1b1b1 solid 1px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}


.register-page .register form .form-item input:focus{
   border-bottom: #4e4e4e solid px;
}


.register-page .register form input[type="submit"] {
  padding: 4px;
  width: 40%;
  border: none;
  background-color: #3BB397;;
  color: #fff;
  font-size: 17px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.register-page .auth-login {
  width: 35%;
  height: 100%;
  background: url(../images/2.svg);
  background-size: cover;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 25px 0 0 25px;
  -webkit-border-radius: 25px 0 0 25px;
  -moz-border-radius: 25px 0 0 25px;
  -ms-border-radius: 25px 0 0 25px;
  -o-border-radius: 25px 0 0 25px;
}

.register-page .auth-login img{
  width: 100px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.register-page .auth-login .login-content{
  color: #fff;
  text-align: center;
}

.register-page .auth-login .login-content h1{
  text-align: center;
  margin-bottom: 10px;
}

.register-page .auth-login .login-content a{
  background-color: transparent;
  border: 2px solid #fff;
  width: 120px;
  margin-top: 15px;
  font-size: 13px;
  padding: 6px 23px;
  color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}

.register-page .auth-login .login-content p{
  margin: 5px 0 20px 0;
  font-size: 11px;
}